{% assign award = include.award %}
{% assign award_date = award.date | date: "%Y년 %m월 %d일" %}
<div class="award__container">
    <img src="assets/img/awards/{{ award.title }}.jpg" class="award__image">
    <div class="award__info">
        <h3 class="award__name">{{ award.title }}</h3>
        <h2 class="award__prize">🏆{{ award.prize }}🏆</h2>
        {% case award.days %}
            {% when 1 %}{% assign day_string = ' 하루동안' %}
            {% when 2 %}{% assign day_string = '부터 이틀간' %}
            {% when 3 %}{% assign day_string = '부터 사흘간' %}
            {% when 4 %}{% assign day_string = '부터 나흘간' %}
        {% endcase %}
        <h3 class="award__date">{{ award_date }}{{ day_string }}</h3>
        <p class="award__teamInfo">{{ award.team }}팀 : {{ award.member }}</p>
    </div>
</div>