{% assign award = include.award %}
{% assign award_date = award.date | date: "%Y년 %m월 %d일" %}
<div class="award-card" style="background-image: url('assets/img/awards/{{ award.title | downcase }}.jpg')">
  <div class="award-card__info">
    <h3 class="award-card__name">{{ award.title | upcase }}</h3>
    <h2 class="award-card__prize">🏆{{ award.prize }}🏆</h2>
    {% case award.days %}
    {% when 1 %}{% assign day_string = ' 하루동안' %}
    {% when 2 %}{% assign day_string = '부터 이틀동안' %}
    {% when 3 %}{% assign day_string = '부터 사흘동안' %}
    {% when 4 %}{% assign day_string = '부터 나흘동안' %}
    {% endcase %}
    <h3 class="award-card__date">{{ award_date }}{{ day_string }}</h3>
    <p class="award-card__teamInfo">{{ award.team }}팀 : {{ award.member }}</p>
  </div>
</div>