<nav class="nav">
  <ul class="nav__menu">
    <li class="nav__menu-item">
      LUNA
    </li>
    <li class="nav__menu-item">
      2018
    </li>
    <li class="nav__menu-item">
      2019
    </li>
    <li class="nav__menu-item">
      Achievement
    </li>
  </ul>
  <img class="nav__logo" src="/assets/img/luna_logo.png">
  <ul class="nav__menu">
    <li class="nav__menu-item">
      Member
    </li>
    <li class="nav__menu-item">
      Cooperation
    </li>
    <li class="nav__menu-item">
      Galaxy
    </li>
    <li class="nav__menu-item">
      FAQ
    </li>
  </ul>
</nav>