<nav class="nav">
  <ul class="nav__menu nav__menu--left">
    <li class="nav__menu-item">
      <a>LUNA</a>
    </li>
    <li class="nav__menu-item">
      <a href="/member">Member</a>
    </li>
    <li class="nav__menu-item">
      <a>Item</a>
    </li>
  </ul>
  <img class="nav__logo" src="/assets/img/luna_logo.png">
  <ul class="nav__menu nav__menu--right">
    <li class="nav__menu-item">
      <a>Award</a>
    </li>
    <li class="nav__menu-item">
      <a>Gallery</a>
    </li>
    <li class="nav__menu-item">
      <a>FAQ</a>
    </li>
  </ul>

  <div class="nav__side-menu-button">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <ul class="nav__side-menu">
    <li class="nav__side-menu-item">
      <i class="fas fa-moon nav__side-icon"></i>
      LUNA
    </li>
    <li class="nav__side-menu-item">
      <i class="fas fa-users nav__side-icon"></i>
      Member
    </li>
    <li class="nav__side-menu-item">
      <i class="fas fa-lightbulb nav__side-icon"></i>
      Item
    </li>
    <li class="nav__side-menu-item">
      <i class="fas fa-trophy nav__side-icon"></i>
      Award
    </li>
    <li class="nav__side-menu-item">
      <i class="fas fa-images nav__side-icon"></i>
      Gallery
    </li>
    <li class="nav__side-menu-item">
      <i class="fas fa-question-circle nav__side-icon"></i>
      FAQ
    </li>
  </ul>

  <div class="nav__side-overlay"></div>
</nav>