<nav class="nav">
  <ul class="nav__menu nav__menu--left">
    {% for item in site.navigation limit:3 %}
    {% assign class = nil %}
    {% if page.url contains item.url %}
    {% assign class = 'nav__menu-item--current' %}
    {% endif %}
    <li class="nav__menu-item {{class}}">
      <a href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/../"><img class="nav__logo" src="/assets/img/luna_logo.png"></a>
  <ul class="nav__menu nav__menu--right">
    {% for item in site.navigation offset:3 limit:3 %}
    {% assign class = nil %}
    {% if page.url contains item.url %}
    {% assign class = 'nav__menu-item--current' %}
    {% endif %}
    <li class="nav__menu-item {{class}}">
      <a href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="nav__side-menu-button">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <ul class="nav__side-menu">
    {% for item in site.navigation %}
    <li class="nav__side-menu-item {{class}}">
      <i class="fas {{item.icon}} nav__side-icon"></i>
      <a href="{{item.url}}">{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>

</nav>
<div class="nav__side-overlay"></div>