@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #862e9c;

  font-family: 'Noto Sans KR', sans-serif;

  height: 100%;
  overflow: hidden;
}