@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');
@font-face { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);


  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#6441A5, #2a0845);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#6441A5, #2a0845); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;

  font-family: 'Noto Sans KR', sans-serif;

  display: flex;
  flex-direction: column;
}

html {
}

body {
}