.home {
  height: 100%;
  background-color: #862e9c;

  &__bg-img {
    position: absolute;
    bottom: 0;

    @media screen and (min-width: 1300px) {
      bottom: -7rem; 
    }

    width: 100%;
  }
}