.item {
  padding: 10rem 0 4rem 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 60%;
  margin-bottom: 5rem;
  
  &__logo {
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    object-fit: contain;

    margin: auto 2.5rem;
  }

  &__name {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 3rem;

    margin: 0;
  }

  &__desc {
    color: #adb5bd;  
    font-size: 1.2rem;

    margin-top: 0;
  }

  &__award-list {
    padding: 0;
    list-style-type: none;
  }

  &__award {
    color: #ffe066;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 850px) {
    width: 80%;

    flex-direction: column;
    align-items: center;

    &__name {
      text-align: center;
      margin: 1rem 0;
    }
  }
}