.item {
  padding: 8rem 0;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card {
  display: flex;
  flex-direction: row;

  width: 60%;
  margin-bottom: 2rem;
  
  &__logo {
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    object-fit: contain;

    margin: auto 2rem;
  }

  &__name {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 3rem;

    margin: 1rem 0;
  }

  &__desc {
    color: #adb5bd;  
    font-size: 1.2rem;
  }
}