@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {

    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -30px);
  }
  60% {
    transform: translate(-50%, -15px);
  }
}

.luna {
  color: #f8f9fa;

  &__section {
    padding: 0 2rem;
    text-align: center;
  }

  &__desc {
    word-break: keep-all;
    color: #ced4da;
    text-align: center;
    font-size: 1.4rem;

    width: 50%;
    margin: 2rem auto;

    @media screen and (max-width: 1100px) {
      width: 80%;
      margin: 1.5rem auto;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-size: 4rem;

    @media screen and (max-width: 860px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }
}

.first {
  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__line-logo {
    width: 17rem;
  }

  &__cali {
    width: 30rem;
    margin-left: 2rem;
  }

  &__desc {
    word-break: keep-all;

    width: 60%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: left;

    font-size: 1.2rem;
    color: #ced4da;

    border-left: 2px solid #868e96;
    padding-left: 1rem;
  }

  &__arrow {
    animation: bounce 2s infinite;

    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform:translateX(-50%);

    @media screen and (max-height: 500px) {
      visibility: hidden;
    }
  }

  @media screen and (max-width: 1200px) {
    &__desc {
      width: 80%;
    }
  }

  @media screen and (max-width: 1000px) {
    &__cali {
      width: 40vw;
      margin: 0 0 0 1rem;
    }

    &__line-logo {
      width: 20vw;
    }
  }

  @media screen and (orientation: portrait) and (max-width: 768px) {
    &__desc {
      word-break: break-all;
      font-size: 1rem;
    } 

    // &__line-logo {
    //   display: none; 
    // }

    &__cali {
      width: 70vw;
    }
  }

  @media screen and (orientation: landscape) and (max-height: 450px) {
    &__desc {
      margin: 0 auto;
      margin-top: 2rem;

      font-size: 1rem;
      margin-bottom: auto;
    }

    &__cali {
      width: 30vw;
    }
  }
}

.second {
  .number {
    background-image: url('/assets/img/crew.png');
  }
}

.third {
  .number {
    @media screen and (min-height: 500px) {
      line-height: 20rem;
    }

    background-image: url('/assets/img/items.png');
  }
}

.fourth {
  .number {
    background-image: url('/assets/img/trophy.png');
  }
}

.fifth {
  .number {
    @media screen and (min-height: 500px) {
      line-height: 16rem;
    }

    background-image: url('/assets/img/smtm.png');
    font-size: 7rem;
  }
}

.last {
  margin-bottom: 10rem;

  .number {
    transition: all 1s;
  }

  .number--rotated {
    transform: rotate(90deg);
  }
}

.number {
  display: inline-block;
  width: 100%;

  z-index: 10;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-height: 560px) {
    font-size: 7rem;
  }
}

.to-animate {
  opacity: 0;
  transition: opacity 2s;

  &--active {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  #fp-nav {
    display: none;
  }
}

#fp-nav ul li a span {
  background-color: white !important;
}