.luna {
  color: #f8f9fa;

  &__section {
    padding: 3rem 2rem;
    text-align: center;
  }

  &__desc {
    word-break: keep-all;
    text-align: center;
    font-size: 1.4rem;

    width: 50%;
    margin: 2rem auto;

    @media screen and (max-width: 1100px) {
      width: 80%;
      margin: 1rem auto;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-size: 4rem;

    @media screen and (max-width: 860px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }
}

.first {
  padding: 12rem 14rem 0 14rem;
  margin-bottom: 10rem;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__line-logo {
    width: 17rem;
  }

  &__cali {
    width: 30rem;
    margin-left: 2rem;
  }

  &__desc {
    word-break: keep-all;

    width: 70%;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: left;

    font-size: 1.2rem;
    color: #ced4da;

    border-left: 2px solid #868e96;
    padding-left: 1rem;
  }

  @media screen and (max-width: 1200px) {
    &__desc {
      width: 80%;
    }
  }

  @media screen and (max-width: 1000px) {
    padding: 8rem 0 0 0;

    &__cali {
      width: 40vw;
      margin: 0 0 0 1rem;
    }

    &__line-logo {
      width: 20vw;
    }
  }

  @media screen and (orientation: portrait) and (max-width: 768px) {
    &__desc {
      word-break: break-all;
      font-size: 1rem;
    } 

    // &__line-logo {
    //   display: none; 
    // }

    &__cali {
      width: 70vw;
    }
  }

  @media screen and (orientation: landscape) and (max-height: 450px) {
    &__desc {
      margin: 0 auto;
      margin-top: 2rem;

      font-size: 1rem;
      margin-bottom: auto;
    }

    &__cali {
      width: 30vw;
    }
  }
}

.second {
  .number {
    background-image: url('/assets/img/crew.png');
  }
}

.third {
  .number {
    line-height: 20rem;
    background-image: url('/assets/img/items.png');
  }
}

.fourth {
  .number {
    background-image: url('/assets/img/trophy.png');
  }
}

.fifth {
  .number {
    line-height: 16rem;
    background-image: url('/assets/img/smtm.png');
    font-size: 7rem;
  }
}

.last {
  margin-bottom: 10rem;

  .number {
    transition: all 1s;
  }

  .number--rotated {
    transform: rotate(90deg);
  }
}

.number {
  display: inline-block;
  width: 30rem;

  z-index: 10;
  font-size: 10rem;
  font-weight: bold;
  text-align: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.to-animate {
  opacity: 0;
  color: #adb5bd;
  transition: opacity 2s;

  &--active {
    opacity: 1;
  }
}