.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;

  &__logo {
    width: 4rem;
  }

  &__menu {
    flex: 1;
    margin: 0 3rem;
    padding: 0;

    list-style-type: none;
    display: flex;
    flex-direction: row;

    &--left {
      justify-content: flex-end;
    }
  }

  &__menu-item {
    cursor: pointer;

    color:#e9ecef;
    opacity: 0.4;
    font-size: 1.5rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    & + & {
      margin-left: 3rem;
    }
  }
}