.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem;
  padding: 0 2rem;

  &__logo {
    width: 4rem;
  }

  &__menu {
    flex: 1;
    margin: 0 3rem;
    padding: 0;

    list-style-type: none;
    display: flex;
    flex-direction: row;

    &--left {
      justify-content: flex-end;
    }
  }

  &__menu-item {
    cursor: pointer;

    opacity: 0.4;
    font-size: 1.5rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    & + & {
      margin-left: 3rem;
    }

    a {
      color: #e9ecef;
      text-decoration: none;
    }
  }

  &__side-menu-button {
    cursor: pointer;
    display: none;

    color: #e9ecef;
    opacity: 0.8;
    margin-left: auto;
  }

  &__side-menu {
    margin: 0;
    padding: 2rem 2rem;
    list-style-type: none;
    box-sizing: border-box;

    position: fixed;
    height: 100%;
    width: 15rem;

    top: 0;
    right: -15rem;
    transition: right 0.3s;

    z-index: 3;
    background-color: black;

    &--visible {
      right: 0;
    }
  }

  &__side-menu-item {
    font-size: 1.3rem;
    padding: 1rem 0;
    color: #f1f3f5;

    border-bottom: 1px solid #868e96;
  }

  &__side-icon {
    margin-right: 0.2rem;
    width: 2rem;
    text-align: center;
    color: #868e96;
  }

  &__side-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 0;
    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0;
    z-index: 2;

    transition: opacity 0.3s;

    &--visible {
      pointer-events: visible;
      opacity: 0.4;
    }
  }

  @media screen and (max-width: 800px) {
    &__side-menu-button {
      display: block;
    }

    &__menu {
      display: none;
    }

    &__logo {
      width: 3rem;
    }
  }
}