.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 1.5rem 2rem;
  box-sizing: border-box;

  &__logo {
    width: 4rem;
  }

  &__menu {
    flex: 1;
    margin: 0 3rem;
    padding: 0;

    list-style-type: none;
    display: flex;
    flex-direction: row;

    &--left {
      justify-content: flex-end;
    }
  }

  &__menu-item {
    cursor: pointer;

    opacity: 0.4;
    font-size: 1.5rem;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    & + & {
      margin-left: 3rem;
    }

    a {
      color: #e9ecef;
      text-decoration: none;
    }

    &--current {
      opacity: 1;
      border-bottom: 1px solid white;
      margin-bottom: -1px;
    }
  }

  &__side-menu-button {
    cursor: pointer;
    display: none;

    color: #e9ecef;
    opacity: 0.8;
    margin-left: auto;
  }

  &__side-menu {
    overflow-y: scroll;

    margin: 0;
    padding: 2rem 2rem;
    list-style-type: none;
    box-sizing: border-box;

    position: fixed;
    height: 100%;
    width: 15rem;

    top: 0;
    right: -15rem;
    transition: right 0.3s;

    z-index: 3;
    background-color: #212529;

    &--visible {
      right: 0;
    }
  }

  &__side-menu-item {
    font-size: 1.3rem;
    padding: 1rem 0;

    a {
      color: #f1f3f5;
      text-decoration: none;
    }

    border-bottom: 1px solid #868e96;

    &:last-child {
      border: none;
    }
  }

  &__side-menu-container {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__side-menu-close {
    font-size: 2rem;
    color: #ced4da;
  }

  &__side-icon {
    margin-right: 0.2rem;
    width: 2rem;
    text-align: center;
    color: #868e96;
  }

  @media screen and (max-width: 850px) {
    position: fixed;

    &__side-menu-button {
      display: block;
    }

    &__menu {
      display: none;
    }

    &__logo {
      width: 3rem;
    }
  }
}