---
layout: default
---
<main class="award">
  {% assign awards_2019 = site.awards | where: "year", 2019.0 | sort: "title" %}
  {% assign awards_2018 = site.awards | where: "year", 2018.0 | sort: "title" %}

  <h1 class="award__grade"><i class="fas fa-trophy"></i> 2019년</h1>
  {% for award in awards_2019 %}
  {% include award_card.html award=award %}
  {% endfor %}

  <h1 class="award__grade"><i class="fas fa-trophy"></i> 2018년</h1>
  {% for award in awards_2018 %}
  {% include award_card.html award=award %}
  {% endfor %}
</main>