---
layout: default
---
<main class="award">
  {% assign 2019_awards = site.awards | where: "year", 2019.0 | sort: "title"%}
  {% assign 2018_awards = site.awards | where: "year", 2018.0 | sort: "title"%}

  <h1 class="award__grade"><i class="fas fa-trophy"></i> 2019년</h1>
  {% for award in 2019_awards %}
  {% include award.html award=award %}
  {% endfor %}

  <h1 class="award__grade"><i class="fas fa-trophy"></i> 2018년</h1>
  {% for award in 2018_awards %}
  {% include award.html award=award %}
  {% endfor %}
</main>
