---
layout: default
---
<main class="luna">
  <section class="luna__section first ">
    <div class="first__logo">
      <img class="first__line-logo" src="/assets/img/logo_line.png">
      <img class="first__cali" src="/assets/img/cali.png">
    </div>
    <p class="first__desc">
      루나는 교내 유일 <strong>IT소셜벤쳐 동아리</strong>입니다.
      동아리원들이 직접 기획한 IT프로젝트를 진행하며,
      평등한 세상을 만들기 위해 다방면으로 노력하고 있습니다.
    </p>
  </section>
  <!-- <h1 class="luna__section luna__title"><i class="fas fa-search"></i> 숫자로 보는 루나</h1> -->
  <section class="luna__section second ">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      루나는 2017년부터 <strong>24명의 동아리원들과 함께</strong> 평등한 세상을 만들겠다는 목표 아래에서 세상을 밝혀왔습니다.
    </p>
  </section>
  <section class="luna__section third ">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      루나의 크루원들은 지금까지 <strong>자발적으로 23개의 프로젝트를 진행</strong>하며 사회적인 가치를 창출하고자 하였습니다.
    </p>
  </section>
  <section class="luna__section fourth ">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      2017년부터 저희는 <strong>동아리 내에서 팀을 이루어 31개의 대회에 출전</strong>하여 저희의 사회 문제 해결 의지와 능력을 인정받고자 하였습니다.
    </p>
  </section>
  <section class="luna__section fifth ">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      저희는 다양한 외부 활동과 대회 참여를 통해 실력을 인정받고 지금까지 <strong>상금 및 지원금을 총 3,630만원</strong> 받아왔습니다.
    </p>
  </section>
  <section class="luna__section last ">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      루나는 여러분들과 함께, IT기술을 통해 평등한 세상을 만들자는 목표를 향해 <strong>무한히</strong> 달려나갈 것입니다🥰
    </p>
  </section>
</main>