---
layout: default
---
<main class="luna">
  <section class="luna__section first fp-auto-height">
    <div class="first__logo">
      <img class="first__line-logo" src="/assets/img/logo_line.png">
      <img class="first__cali" src="/assets/img/cali.png">
    </div>
    <p class="first__desc">
      루나는 교내 유일 <strong>IT소셜벤쳐 동아리</strong>입니다.
      동아리원들이 직접 기획한 IT프로젝트를 진행하며,
      평등한 세상을 만들기 위해 다방면으로 노력하고 있습니다.
    </p>
  </section>
  <section class="luna__section second fp-auto-height">
    <div class="number">0</div>
    <p class="luna__desc to-animate">
      루나는 2017년부터 21명의 동아리원들과 함께 평등한 세상을 만들겠다는 목표 아래에서 세상을 밝혀왔습니다.
    </p>
  </section>
  <section class="luna__section fp-auto-height">Some asdf</section>
  <section class="luna__section fp-auto-height">Some </section>
</main>