---
layout: default
---
<main class="member">
  {% assign second_members = site.members | where: "luna", 2.0 | sort: "name" %}
  {% assign first_members = site.members | where: "luna", 1.0 | sort: "name" %}
  {% assign honorary_members = site.members | where: "luna", 0.0 | sort: "name" %}

  <h1 class="member__grade"><i class="fas fa-moon"></i> LUNA 2기</h1>
  <div class="member__container">
    {% for member in second_members %}
    {% include profile.html member=member %}
    {% endfor %}
  </div>

  <h1 class="member__grade"><i class="fas fa-moon"></i> LUNA 1기</h1>
  <div class="member__container">
    {% for member in first_members %}
    {% include profile.html member=member %}
    {% endfor %}
  </div>

  <h1 class="member__grade"><i class="fas fa-award"></i> 명예 동아리원</h1>
  <div class="member__container">
    {% for member in honorary_members %}
    {% include profile.html member=member %}
    {% endfor %}
  </div>
</main>